.calorie-counter {
    background: -webkit-linear-gradient(top left, #4d4d4d, #000);
    background: linear-gradient(to bottom right , #4d4d4d, #000);
    -webkit-animation: load 1s ease-out forwards;
    -moz-animation: load 1s ease-out forwards;
    animation: load 1s ease-out forwards;
    -webkit-transform: translate3d(-50%, -40%, 0);
    -moz-transform: translate3d(-50%, -40%, 0);
    -ms-transform: translate3d(-50%, -40%, 0);
    -o-transform: translate3d(-50%, -40%, 0);
    transform: translate3d(-50%, -40%, 0);
    background-color: #4d4d4d;
    border-radius: 4px;
    box-shadow: 36px 36px 76px 0px rgba(0, 0, 0, 0.26), 36px 36px 136px 0px #0b2b08;
    color: #fff;
    height: 640px;
    font-family: "proxima-nova-soft", sans-serif;
    font-weight: 500;
    left: 50%;
    opacity: 0;
    padding: 38px 46px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 400px;
  }
  .calorie-counter__title {
    color: #666;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .calorie-counter__date {
    font-size: 22px;
    margin-bottom: 50px;
  }
  
  .chart svg {
    height: 70%;
    width: 100%;
  }
  .chart__background {
    fill: none;
    height: 70%;
    position: relative;
    stroke: #5a5a59;
    stroke-width: 20px;
    width: 100%;
  }
  .chart__foreground {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: stroke-dashoffset 1s ease-in;
    -moz-transition: stroke-dashoffset 1s ease-in;
    transition: stroke-dashoffset 1s ease-in;
    fill: none;
    height: 100%;
    left: 0;
    position: absolute;
    stroke-dasharray: 630px;
    stroke-dashoffset: 630px;
    stroke-linecap: round;
    stroke-width: 20px;
    stroke: #b6feb7;
    top: 0;
    width: 100%;
  }
  .chart__count {
    color: #999;
    font-size: 16px;
    position: relative;
  }
  .chart__count div {
    color: #fff;
    font-size: 22px;
  }
  .chart .chart__container {
    display: inline-block;
    height: 100%;
    position: relative;
    width: 100%;
  }
  .chart--calorie .chart__container {
    height: 220px;
    width: 220px;
  }
  .chart--calorie .chart__count {
    top: -135px;
  }
  @-webkit-keyframes load {
    from {
      -webkit-transform: translate3d(-50%, -40%, 0);
      opacity: 0;
    }
    to {
      -webkit-transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }
  @-moz-keyframes load {
    from {
      -moz-transform: translate3d(-50%, -40%, 0);
      opacity: 0;
    }
    to {
      -moz-transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }
  @keyframes load {
    from {
      -webkit-transform: translate3d(-50%, -40%, 0);
      -moz-transform: translate3d(-50%, -40%, 0);
      -ms-transform: translate3d(-50%, -40%, 0);
      -o-transform: translate3d(-50%, -40%, 0);
      transform: translate3d(-50%, -40%, 0);
      opacity: 0;
    }
    to {
      -webkit-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      -o-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }